h5 {
    font-family: Verdana, Geneva, sans-serif !important;
    color: lightslategray;
    font-style: oblique;
}

html {
    background-image: url("../images/backgrounds/jda-command.png");
    display: block;
}
