html {
    background-image: url("../images/backgrounds/main.png");
    display: block;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

body {
    margin: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

li.navitem, a.navlink {
    float: left;
    display: block;
    padding: 1%;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: white;
}

li.current {
    float: left;
    display: block;
    padding: 1%;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #808080 !important;
}

a {
    color: white !important;
}

a.navlink:hover, li.navitem:hover {
    color: #00ccff !important;
}

footer {
    all: revert;
    position: fixed !important;
    bottom: 0 !importantt;
    width: 100% !important;
    background-color: black !important;
    color: white !important;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace !important;
    text-decoration: none !important;
    text-align: center !important;
}

#wrapper {
  width: 70%;     
  margin: 0 auto;
}
