html {
	background-color: #686563;
}

body {
	padding-top: 65px;
	padding-bottom:20px;
	background-color: inherit;
}
.center {
	text-align: center;
	color: white;
}

#cog {
/*  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite; */
  width: 400px;
}

.nav {
	color: #aaa4a2;
	background-color: inherit;
	
}
.nav-item a, a.nav-item, .title{
	color: inherit;
}

.navbar-brand {
	font-size: 2em;
}
.img-thumbnail {
	background-color: black;
	border-color: black;
}
.title {
	color: white;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
